:root {
    --color-bgc: #122D42;
    --color-one: #3E6B89;
    --color-two: #3DD2CC;
    --color-text: #CBF9DA;

    /* GRADIENT */
    --gr-1: #55B7A4;
    --gr-2: #4CA493;
    --gr-3: #FFFFFF;
    --gr-4: #336D62;
    --gr-5: #2A5B52;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Amatic SC', cursive;
    background-color: var(--color-bgc);
    color: var(--color-text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-size: 66px;
}

.text {
    font-size: 32px;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 320px;
    width: 320px;
    transform: scale(1);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-one);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
}

.gradient-circle {
    position: absolute;
    top: -10px;
    left: -10px;
    background: conic-gradient(var(--gr-1) 0%,
            var(--gr-2) 40%,
            var(--gr-3) 40%,
            var(--gr-3) 60%,
            var(--gr-4) 60%,
            var(--gr-5) 100%);
    height: 340px;
    width: 340px;
    border-radius: 50%;
    z-index: -2;
}